@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

 .sns-link {
     text-decoration: none;
     color:black;
 }
 
 .public-menu{
  font-family: 'Kosugi Maru', sans-serif;
 }
 
 a.circle {
  width: 50px;
  height: 50px;
  padding: 0;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

a.circle i {
  font-size: 150%;
  line-height: 50px;
  -webkit-transition: all .3s;
  transition: all .3s;
  letter-spacing: 0;
}
a.circle:hover i {
  line-height: 55px;
}

