<div class="container">
  <div class="h2">
      検索結果
  </div>
  
  <table class="table table-hover table-inverse">
        <% @items.each do |item| %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.non_taxed_price %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>