<div class="container">
  <div class="row mt-5">
    <div class="col-2">
      <!--ジャンル検索機能実装スペース-->
    </div>
    <div class="col-10">
      <h3 class="font-weight-bold">商品一覧</h3>
      <h5 class="align-text-bottom">（全<%= Item.all.count %>件）</h5>
      <%= render "items", items: @items %>
      <div class="d-flex justify-content-center">
        <u><%= paginate @items %>
      </div>
    </div>
  </div>
</div>