<div class="border-top fixed-bottom">
  <!--SNSのリンク(仮)-->
  <div class="text-center mt-2 h4">
    <%= link_to "#",class: "sns-link text-primary" do %><i class="fa-brands fa-facebook mx-1"></i><% end %>
    <%= link_to "#",class: "sns-link text-primary" do %><i class="fa-brands fa-twitter mx-1"></i><% end %>
    <%= link_to "#",class: "sns-link" do %><i class="fa-brands fa-instagram mx-1"></i><% end %>
    <%= link_to "#",class: "sns-link text-success" do %><i class="fa-brands fa-line mx-1"></i><% end %>
  </div>
  <p class="text-center">Naganocake Inc. All Rights reserved.</p>
</div>